<!DOCTYPE html>
<html>
    <head>
        <title>
            T2A2-B: Eric C
        </title>
    </head>
    <body>
        <header>
            <h1>Project-Feedback App</h1>
            <nav>
                <a href="/projects">All Projects</a>
                {% if current_user.is_authenticated %}
                    <a href="/projects/new">Create a new Project</a>
                    <a>{{ current_user.username }}</a>
                    <a href="/logout">Log out</a>
                {% else %}
                    <a href="/signup">Sign up</a>
                    <a href="/login">Log in</a>
                {% endif %}
            </nav>
        </header>
        <div>
            {% block content%}        


            {% endblock %}
        </div>
    </body>
</html>