<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <title>
            T2A2-B: Eric C
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="https://github.com/eric-chew/T4A2-B">T4A2-B Source Code</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class='nav-link' href="/projects">All Projects</a>
                            {% if current_user.is_authenticated %}
                                <a class='nav-link' href="/projects/new">Create a new Project</a>
                                <a class='nav-link' href="/projects/my_projects">View your Projects</a>
                                <a class='nav-link' href="/logout">Log out</a>
                            {% else %}
                                <a class='nav-link' href="/signup">Sign up</a>
                                <a class='nav-link' href="/login">Log in</a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                                <span class="navbar-text">
                                    Logged in as {{current_user.user_name}}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                       <div class="alert alert-light" role="alert">{{msg}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </header>
        <div class="container">
            {% block content %}
    
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </div>
            {% endblock %}
        </div>
    </body>
</html>