{% extends 'layout.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
    <div>
        <h3>Log in</h3>
        <div>
            <form action="{{ url_for('auth.auth_login') }}" method='POST'>
                <input type='text' name='username' placeholder='Username' autofocus=''>
                <input type='password' name='password' placeholder='Password'>
                <button>Log in</button>
            </form>
        </div>
        <a href='projects_index.html'><button>Go Back</button></a>
    </div>
{% endblock %}