{% extends 'layout.html' %}

{% block content %}
    <div class="card text-center text-dark bg-light mb-3 border-dark mb-3">
        <div class="card-body">
            <h1 class="card-title">Log In</h1>
        </div>
    </div>
    <div>
        <div>
            <form action="{{ url_for('auth.auth_login') }}" method='POST'>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type='text' class="form-control" name='username' id='username' placeholder='Username' autofocus=''>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name='password' id="password">
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <a href="{{ url_for('auth.main_page') }}"><buttontype="button" class="btn btn-success">Go Back</button></a>
            </form>
        </div>
    </div>
{% endblock %}