{% extends "layout.html" %}
{% block title %}Name{% endblock %}

{% block content%}
    <div class="card text-center border-dark mb-3">
        <div class="card-header">
            By {{project.user.username}}
        </div>
        <div class="card-body">
            <h1 class="card-title">{{project.name}}</h1>
            <p class="card-text">{{project.description}}</p>
            <a href="{{ url_for('feedbacks.feedback_show_project', id=project.id) }}" class="btn btn-primary">View Feedback</a>
            {% if current_user.is_authenticated and current_user.id != project.user.id %}
                <a href="{{ url_for('feedbacks.new_feedback', id=id) }}" class="btn btn-primary">Give Feedback</a>
            {% endif%}
            {% if current_user.is_authenticated and current_user.id == project.user.id %}
                <a href="{{ url_for('projects.revise_project', id=project.id) }}" class="btn btn-primary">Update Project</a>
                <a href="{{ url_for('projects.project_delete', id=project.id) }}" class="btn btn-primary">Delete Project</a>
                <a href="{{ url_for('projects.project_show_user') }}" class="btn btn-primary">Back to my Projects</a>
            {% endif%}
            <a href="{{ url_for('projects.project_index') }}" class="btn btn-primary">Back to all Projects</a>
        </div>
        <div class="card-footer text-muted">
            Last Updated: {{project.last_updated.strftime('%Y-%m-%d %H:%M')}}
        </div>
    </div>
{% endblock %}