{% extends "layout.html" %}
{% block title %}Your Projects{% endblock %}

{% block content %}
    <div class="card text-center text-dark bg-light mb-3 border-dark mb-3">
        <div class="card-body">
            <h1 class="card-title">Your Projects</h1>
        </div>
    </div>          
    {% for project in projects %}
    <div class="card text-center border-dark mb-3">
        <div class="card-header">
            By {{project.user.username}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
            <a href="{{ url_for('projects.project_show', id=project.id) }}" class="btn btn-primary">See this Project</a>
        </div>
        <div class="card-footer text-muted">
            Last Updated: {{project.last_updated.strftime('%Y-%m-%d %H:%M')}}
        </div>
    </div>
    {% endfor %}
{% endblock %}