{% extends 'layout.html' %}

{% block content %}
    <div>
        <h3>Update Project</h3>
        <div>
            <form action="{{ url_for('projects.project_update', id=project.id) }}" method='POST'>
                <input type='text' name='name' value='{{project.name}}' autofocus=''>
                <input type='text' name='link' value='{{project.link}}'>
                <input type='text' name='description' value='{{project.description}}'>
                <button>Update Project</button>
            </form>
            <a href="{{ url_for('projects.project_show_user') }}"><button>Back to your Projects</button></a>
        </div>
    </div>
{% endblock %}